<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <connectionStrings>
    <add name="local"
         connectionString="server=(local);uid=sa;pwd=666666;"
         providerName="System.Data.SqlClient"/>
    <add name="corp218"
         connectionString="server=192.168.38.218;uid=sa;pwd=666666;"
         providerName="System.Data.SqlClient"/>
    <add name="corp165"
         connectionString="server=192.168.1.165;uid=dfreader;pwd=dfreader;"
         providerName="System.Data.SqlClient"/>
    <add name="corp170"
         connectionString="server=192.168.1.170;uid=reader;pwd=reader;"
         providerName="System.Data.SqlClient"/>
    <add name="corp217"
         connectionString="server=192.168.38.217;uid =sa;pwd=maoheng0;"/>
  </connectionStrings>
  
  <appSettings>
    <add key="RootPath" value="d:\BTP" />
    <add key="Log.RootPath" value="\Log" />
    <add key="CacheData.RootPath" value="\CacheData" />
    <add key="CacheData.ResultPath" value="\Result" />
    <add key="CacheData.StrategyPath" value="\{tag}\{date}\{type}_{parameters}_{performance}.csv" />
    <add key="CacheData.Path.TradeDays" value="\TradeDays_{date}.csv" />
    <add key="CacheData.Path.Basic" value="\{tag}\{code}_{date}.csv" />
    <add key="CacheData.Path.StockFactor" value="\MultiFactor\{date}\{code}\{tag}.csv" />
    <add key="CacheData.Path.DataUpdateLog" value="DataUpdate.log" />
    <add key="CacheData.Path.SequentialByDay" value="\{tag}\{code}\{date}.csv" />
    <add key="CacheData.Path.SequentialByYear" value="\{tag}\{code}\{date1}_{date2}.csv" />
    <add key="CacheData.ImagePath" value="\{tag}\{date_image}\{startDate}_{endDate}_{netProfit}_{anualSharp}_{MDD}.png"/>
    <add key="ConsoleLog" value="off" />
    <add key="Setting" value="common" />
    <add key="DisplayNetWorth" value="off" />
    <add key="50ETFOptionInfoRecord" value="on" />
    <add key="StockBasicInfoRecord" value="on" />
    <add key="CommodityOptionInfoRecord" value="on" />
  </appSettings>
  
</configuration>